/*service*/
.home .service .block .block_detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  grid-column-gap: 1em;
  a:hover {
    opacity: 1;
  }
  a.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    transition: all .2s ease;
    .box_detail {
      text-align: left;
      background-color: var(--white);
      padding: 20px;
    }
    .readmore {
      background-color: #fff;
      display: block;
      width: 100%;
      height: 5px;
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        left: -100%;
        background-color: var(--orange);
        transition: all .5s ease-out;
      }
    }
    &:hover {
      box-shadow: 7px 7px 20px #ccc;
      .readmore::before {
        left: 0;
      }
    }
  }
}

/*blog*/
.home .blog {
  .block .block_detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    a {
      transition: all .5s ease;
      &:hover {
        opacity: 1;
        box-shadow: 7px 7px 20px #ccc;
        transition: all .5s ease;
      }
    }
    .box {
      div {
        height: 170px;
        float: left
      }
      .blog_img {
        width: 150px;
        background-image: url(../img/hero.jpg);
        background-size: cover;
        background-position: center;
      }
      .blog_content {
        width: calc(100% - 150px);
        background-color: var(--gray);
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        .time {
          color: dimgray;
          font-size: .7em;
        }
        h3 {
          margin: 5px 0;
          margin-block-start: 5px;
          margin-block-end: 0em;
        }
        p {
          margin: 5px 0;
          font-size: .8em;
          color: dimgray;
          height: 65px;
          overflow-y: hidden;
        }
        .whiteshadow {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 30px;
          padding-top: 20px;
          text-align: center;
          line-height: 30px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--gray) 70%);
        }
        .read_more {
          position: absolute;
          background-color: var(--gray);
          left: 0;
          bottom: 0px;
          height: 5px;
          width: 100%;
          &::before {
            content: '';
            position: absolute;
            background-color: var(--orange);
            left: -100%;
            bottom: 0px;
            height: 5px;
            width: 100%;
            transition: all .5s ease-out;
          }
        }
      }
      &:hover .read_more::before {
        left: 0;
      } 
    }
    .blogzero {
      width: 100%;
      text-align: center;
    }
  }
}
.home .blog .block .block_detail 
.home .blog .block .block_detail a:hover {
  opacity: 1;
}