@media screen and (max-width:960px){
  /*****************/
  /*Initialize*/
  /*****************/
  

  :root {
    --header_height: 60px;
    --block_width: 100vw;
    --font_size_2: 2em;
  }
  .sp {
    display: inline-block;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  main {
    overflow: hidden;
  }
  .pc {
    display: none;
  }
  
/*  mainを下げてheaderを黒くするやつ*/
  header {
    margin-top: -80px;
  }
  main {
    margin-top: 80px;
  }
  
  /*****************/
  /*Header*/
  /*****************/
  
  header {
    position: fixed;
  }
  .menu ul li a.current {
    border-bottom: transparent;
  }
  
  /*メニュー部分*/
  header nav.menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    ul {
      display: block;
      margin: 0 auto;
      width: 90%;
      margin-top: 80px;
      li {
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #bcbcbc;
        width: 100%;
        &:last-child{
          border: none;
        }
        a {
          display: block;
          color: #fff;
        }
      }
    }
    .sns {
      right: 0;
      bottom: 10%;
      width: 100%;
      text-align: center;
      a {
        margin: 0 10px;
      }
    }
  }
  .logo {
    width: 200px;
    margin-left: 15px;
    margin-top: 5px;
  }

  /*開閉ボタン*/
  #nav_toggle{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 100;
    div {
      position: relative;
      margin-top: 5px;
    }
    span{
      display: block;
      height: 2px;
      background: #000;
      position:absolute;
      width: 100%;
      left: 0;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      &:nth-child(1){
        top:0px;
      }
      &:nth-child(2){
        top:12px;
      }
      &:nth-child(3){
        top:24px;
      }
    }
  }

  /*開閉ボタンopen時*/
  .open {
    #nav_toggle span {
      &:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        width: 0;
        left: 50%;
      }
      &:nth-child(3) {
        top: 12px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  .scroll-prevent {
    /*動き固定*/
    position: fixed;
    /*奥行きを管理*/
    z-index: -1;
    /*下2つで背景を元のサイズのまま表示することができる*/
    width: 100%;
    height: 100%;
  }
  
  
  /*****************/
  /*Main*/
  /*****************/
  
  main {
    padding-top: 0;
  }
  
  .home .hero {
    height: 250px;
    margin-bottom: 100px;
    .message {
      width: 100%;
      position: absolute;
      top: 250px;
      padding: 0 10px;
      box-sizing: border-box;
      height: 100px;
      h1 {
        left: 0;
        top: 0;
        line-height: 28px;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
  .home, .page, .single, .archive {
    .hero {
      position: relative;
      margin-top: 70px;
      .fuki {
        width: 100%;
        height: 65px;
        top: -70px;
        left: 0;
        background-image: url(../img/fuki_sp.png);
      }
      .dark {
        height: 220px;
      }
    }
  }
  
  .home .service {
    .block {
      .block_detail {
        grid-template-columns: 90vw;
        grid-template-rows: 250px 250px;
        grid-column-gap: 0;
        grid-row-gap: 1em;
        justify-content: center;
        a.box {
          box-shadow: 7px 7px 20px #ccc;
        }
      }
    }
  }
  .home .blog {
    .block {
      .block_detail {
        grid-template-columns: 90vw;
        grid-template-rows: 170px;
        grid-column-gap: 0;
        grid-row-gap: 1em;
        justify-content: center;
        a {
          overflow: hidden;
          .box {
            .blog_img {
              display: none;
            }
            .blog_content {
              width: 100%;
            }
            &:hover .read_more {
              display: none;
            } 
          }
        }
      }
    }
  }
  
  /*****************/
  /*Footer*/
  /*****************/
  
  footer {
    .map {
      height: 300px;
      position: relative;
      width: 90%;
      margin-left: 5%;
    }
    .info, .items {
      display: none;
    }
    .sns {
      height: 25px;
      padding: 0;
      width: 70px;
      display: block;
      bottom: 0;
    }
    .bar {
      width: 90%;
      margin-left: 5%;
      .sns {
        display: none;
      }
    }
  }  
  
  /*****************/
  /*Page*/
  /*****************/
  
  .page, .single, .archive {
    article {
      margin-top: 0;
    }
  }
  
//  Service
  .service {
    .links {
      .block {
        .block_detail {
          grid-template-columns: 90vw;
          grid-template-rows: 250px 250px;
          grid-row-gap: 1em;
          justify-content: center;
          .box {
            box-shadow: 7px 7px 20px #eee;
          }
        }
      }
    }
  }
  
//  Service_1, Service_2, Hoiku
  .service_1, .service_2, .hoiku {
    .hero {
      .dark {
        font-size: 30px;
      }
    }
    article {
      width: 90vw;
      .block {
        padding: 10px;
        box-sizing: border-box;
        .circlegrid {
          li {
            width: 155px;
            height: 155px;
            p {
              font-size: 12px;
              top: 27%;
            }
          }
          &.flow {
            li {
              p {
                top: 19%;
                font-size: 13px;
                span {
                  font-size: 11px;
                }
              }
              .allow {
                left: 141px;
                }
              }
            @media screen and (max-width: 500px) {
              li {
                margin: 0 50px 22px;
                .allow {
                  left: 50%;
                  top: 99%;
                  transform: translateX(-50%) rotate(0deg);
                }
              }
            }
            }
          }
        }
      }
    }
  
//  Service_2
  .service_2 {
    .about {
      .block {
        p {
          grid-template-columns: 110px 1fr;
          b {
            margin-right: 10px;
          }
        }
      }
    }
    .price {
      .block {
        p {
          grid-template-columns: 
            minmax(150px, 1fr) 
            minmax(100px, 1fr) 
            minmax(100px, 1fr) 
            minmax(100px, 1fr) 
            minmax(100px, 1fr);
          overflow-x: scroll;
          b {
            padding: 5px;
          }
        }
      }
    }
  }
  
//  Hoiku
  .hoiku {
    article {
      margin-top: 30px;
    }
  }
  
//  Archive-Blog
  .archive_blog {
    article {
      width: 90vw;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
//  Single-Blog
  .single_blog {
    article {
      width: 90vw;
    }
    nav {
      width: 90vw;
      a {
        border: 2px solid var(--orange);
      }
    }
  }
  
//  Company
  .company {
    article {
      width: 90vw;
      .block {
        padding: 10px;
        box-sizing: border-box;
        margin-top: 20px;
      }
    }
  }
  
//  Recruit
  .recruit {
    article {
      .block {
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
  .recruit {
    article {
      width: 90vw;
      &.contents {
        .block {
          padding: 10px;
          box-sizing: border-box;
          .links {
            grid-template-columns: 1fr;
            a {
              min-height: 200px;
              .img {
                height: 100px;
              }
              .blog_content {
                padding: 10px;
                h3 {
                  margin-top: .2em;
                }
              }
            }
          }
        }
      }
    }
  }
  
//  Contact
  .contact {
    .form_box {
      width: 90%;
    }
  }
  /* iOSでのデフォルトスタイルをリセット */
  .contact input[type="submit"],
  .contact input[type="button"] {
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
  }
  .contact input[type="submit"]::-webkit-search-decoration,
  .contact input[type="button"]::-webkit-search-decoration {
    display: none;
  }
  .contact input[type="submit"]::focus,
  .contact input[type="button"]::focus {
    outline-offset: -2px;
  }
  
  /*****************/
  /*ContactLink*/
  /*****************/
  
  article.contactlink {
    .link {
      width: 250px;
      font-size: 22px;
      a {
        padding: 10px;
      }
    }
  }
  
}
