/*service*/
.home .service .block .block_detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  grid-column-gap: 30px; }
  .home .service .block .block_detail a:hover {
    opacity: 1; }
  .home .service .block .block_detail a.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    transition: all .2s ease; }
    .home .service .block .block_detail a.box .box_detail {
      text-align: left;
      background-color: var(--white);
      padding: 20px; }
    .home .service .block .block_detail a.box .readmore {
      background-color: #fff;
      display: block;
      width: 100%;
      height: 5px;
      position: relative;
      overflow: hidden; }
      .home .service .block .block_detail a.box .readmore::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        left: -100%;
        background-color: var(--orange);
        transition: all .5s ease-out; }
    .home .service .block .block_detail a.box:hover {
      box-shadow: 7px 7px 20px #ccc; }
      .home .service .block .block_detail a.box:hover .readmore::before {
        left: 0; }

/*blog*/
.home .blog .block .block_detail {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 170px;
  grid-column-gap: 1em;
  grid-row-gap: 1em; }
  .home .blog .block .block_detail a:hover {
    opacity: 1; }
  .home .blog .block .block_detail .box div {
    height: 170px;
    float: left; }
  .home .blog .block .block_detail .box .blog_img {
    width: 150px;
    background-color: #f00; }
  .home .blog .block .block_detail .box .blog_content {
    width: calc(100% - 150px);
    background-color: var(--gray);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    position: relative; }
    .home .blog .block .block_detail .box .blog_content .time {
      color: dimgray;
      font-size: .7em; }
    .home .blog .block .block_detail .box .blog_content h3 {
      margin: 5px 0;
      -webkit-margin-before: 5px;
              margin-block-start: 5px;
      -webkit-margin-after: 0em;
              margin-block-end: 0em; }
    .home .blog .block .block_detail .box .blog_content p {
      margin: 5px 0;
      font-size: .8em;
      color: dimgray; }
    .home .blog .block .block_detail .box .blog_content .read_more {
      position: absolute;
      background-color: var(--orange);
      right: -5px;
      display: none;
      height: 100%;
      width: 5px;
      font-family: var(--font2);
      top: 0; }
  .home .blog .block .block_detail .box:hover .read_more {
    display: block; }
  .home .blog .block .block_detail .blogzero {
    width: 100%;
    text-align: center; }

.home .blog .block .block_detail
.home .blog .block .block_detail a:hover {
  opacity: 1; }
