/*index, glitch*/
.img_catalog {
  background-image: url(../img/IMG_9363.jpg);
  background-position: bottom center;
}

.glitch__img::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.img_company,
.company .glitch__img {
  background-image: url(../img/IMG_9389.jpg);
}
.company .glitch__img::before{
  background-color: rgba(0,0,0,0.7);
}
.product .glitch__img {
  background-image: url(../img/IMG_9411.jpg);
  background-position: bottom 40% center;
}
.product .glitch__img::before{
  background-color: rgba(0,0,0,0.5);
}
.recruit .glitch__img {
  background-image: url(../img/IMG_9155.jpg);
  background-position: bottom 5% center;
}
.recruit .glitch__img::before{
  background-color: rgba(0,0,0,0.5);
}

/*index, product*/

#pro1 .img,
.product a:nth-child(1) li .img {
  background-image: url(../img/IMG_9297.jpg);
}
#pro2 .img,
.product a:nth-child(2) li .img {
  background-image: url(../img/IMG_9407.jpg);
}
#pro3 .img,
.product a:nth-child(3) li .img {
  background-image: url(../img/IMG_9363.jpg);
}
#pro4 .img,
.product a:nth-child(4) li .img {
  background-image: url(../img/IMG_9363.jpg);
}
#pro5 .img,
.product a:nth-child(5) li .img {
  background-image: url(../img/IMG_9401.jpg);
}
#pro6 .img,
.product a:nth-child(6) li .img {
  background-image: url(../img/IMG_9366.jpg);
}
#pro7 .img,
.product a:nth-child(7) li .img {
  background-image: url(../img/IMG_9328.jpg);
}

/*company*/
.img_about {
  background-image: url(../img/IMG_9313.jpg);
}
.img_greet {
  background-image: url(../img/IMG_9436.jpg);
  background-position: bottom center;
}