body {
  background-color: #0f0;
  border: 2px solid  #fff; }
  body .block {
    background-color: #00f; }
  body .img {
    background-color: #0f0; }
    body .img div {
      color: #000; }
    body .img .img {
      background-image: url(../img/chia.jpg);
      background-position: center;
      background-size: cover; }
